<div class="title">
	<h2>Services</h2>
	<span class="byline">
	Login to choose your device and symptom. From there you can make an appointment to talk to a technician.
	</span>
</div>

<div class="title">
	<span class="byline">
	Why you might need support:
	
	<br>
	<br>

	<li>Your device is broken or performing poorly.</li>
	<li>Your device crashes or drops internet connection.</li>
	<li>Your fax machine or printer won't send or print.</li>
	<li>Looking for a new device? We can offer recommendations based on your daily use.</li>
	
	<br>
	<br>
	
	Our price depends on the service being done. Please fill out the quote form to get an accurate cost. We offer flat rates with repair labor included.
	

	</span>
</div>